<?xml version="1.0" encoding="UTF-8"?>
<log4net>
  <root>
    <level value="INFO" />
    <appender-ref ref="LogFileAppender" />
  </root>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <file type="log4net.Util.PatternString" value="..\Logs\FileExplorer.log" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maximumFileSize value="5MB" />
    <maxSizeRollBackups value="10" />
    <encoding value="UTF-8" />
    <layout type="log4net.Layout.PatternLayout">
      <header value="Level DateTime Thread Class - Message &#13;&#10;" />
      <param name="ConversionPattern" value="%-5level %date{MM-dd HH:mm:ss,fff} %thread %logger - %message  %newline"/>
    </layout>
  </appender>
</log4net>